---
import * as interfaces from '../../../lib/interfaces.ts'
import {
  getPosts,
  getAllPosts,
  getRankedPosts,
  getPostBySlug,
  getPostsByTag,
  getBlock,
  getAllTags,
  getAllBlocksByBlockId,
  downloadFile,
} from '../../../lib/notion/client.ts'
import {
  getPostLink,
  filePath,
  extractTargetBlocks,
} from '../../../lib/blog-helpers.ts'
import Layout from '../../../layouts/Layout.astro'
import PostTitle from '../../../components/PostTitle.astro'
import PostBody from '../../../components/PostBody.astro'
import PostRelativeLink from '../../../components/PostRelativeLink.astro'
import styles from '../../../styles/blog.module.css'
import Categories from '../../../components/Categories.astro';
import { getAllLanguages } from '../../../lib/utils';

export async function getStaticPaths() {
  const allLanguages = getAllLanguages();
  const posts = await getAllPosts();
  return allLanguages.flatMap((language) => (
    posts
      .filter((post: interfaces.Post) => post.Language === language)
      .map((post: interfaces.Post) => (
        {
          params: {
            lang: language,
            slug: post.Slug
          }
        }
      ))
  ))
}

const { slug, lang } = Astro.params

const post = await getPostBySlug(lang, slug)
if (!post) {
  throw new Error('Post not found. slug: ${slug}')
}

const [blocks, allPosts, rankedPosts, recentPosts, tags, postsHavingSameTag] =
  await Promise.all([
    getAllBlocksByBlockId(post.PageId),
    getAllPosts(),
    getRankedPosts(),
    getPosts(5),
    getAllTags(),
    getPostsByTag(post.Tags[0]?.name, 6),
  ])

const fileAtacchedBlocks = extractTargetBlocks('image', blocks)
  .concat(extractTargetBlocks('file', blocks))
  .filter((block) => {
    if (!block) {
      return false
    }
    const imageOrFile = block.Image || block.File
    return imageOrFile && imageOrFile.File && imageOrFile.File.Url
  })

// Download files
await Promise.all(
  fileAtacchedBlocks
    .map(async (block) => {
      const expiryTime = (block.Image || block.File).File.ExpiryTime
      if (Date.parse(expiryTime) > Date.now()) {
        return Promise.resolve(block)
      }
      return getBlock(block.Id)
    })
    .map((promise) =>
      promise.then((block) => {
        let url!: URL
        try {
          url = new URL((block.Image || block.File).File.Url)
        } catch (err) {
          console.log('Invalid file URL')
          return Promise.reject()
        }
        return Promise.resolve(url)
      })
    )
    .map((promise) => promise.then(downloadFile))
)

const sameLanguagePosts = allPosts.filter((post) => post.Language === lang)
const currentPostIndex = sameLanguagePosts.findIndex((post) => post.Slug === slug)
const prevPost = sameLanguagePosts[currentPostIndex - 1]
const nextPost = sameLanguagePosts[currentPostIndex + 1]

let ogImage = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  ogImage = new URL(filePath(new URL(post.FeaturedImage.Url)), Astro.site)
}
---

<Layout
  title={post.Title}
  description={post.Excerpt}
  path={getPostLink(post.Language, post.Slug)}
  ogImage={ogImage}
>
  <div slot="main" class={styles.main}>
    <div class={styles.post}>
      <PostTitle post={post} enableLink={false} />
      <PostBody blocks={blocks} />

      <footer>
        <PostRelativeLink prevPost={prevPost} nextPost={nextPost} />
      </footer>
    </div>
  </div>

  <div slot="aside" class="aside">
    <Categories language={lang}/>
  </div>
</Layout>
